
<div class="container">

    <div class="mb-4 mt-4 card card-body bg-light" >
        <div class="row">
            <div class="col">
                <h4><%= @program.title %></h4>
                <p>
            
            
                    <h5>Description:</h5>
                    <%= @program.description %>
                    <br>
                    <br>

                    <h5>Synopsis:</h5>
                    <%= @program.synopsis %>
                    <br>
                    <br>

                    <h5>About:</h5>
                    <%= @program.about %>
                    <br>
                    <br>

                    <h5>Start Date:</h5>
                    <%= @program.start_date %>
                    <br>
                    <br>

                    <h5>End Date:</h5>
                    <%= @program.end_date%>
                </p>

            </div>
            <div class="col">
                <%= link_to "Add User To Programs" ,add_program_user_path(@program.id), class:"btn btn-outline-secondary"%>
                    <br>
                    <br>
                <h5>Users Enrolled In Prorgam:</h5>
                   <% count = 1 %>
                <%@programusers.each do |pu|%>
                    <br>
                    <%= count %>
                    <%= pu.user.email%>
                    <%count+=1%>
                <%end%>
            </div>
        </div>
                

    
    </div>
</div>
